@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData"
                                DefaultLayout="@typeof(Shared.MainLayout)">
                <NotAuthorized>
                    <h3>Você precisa estar logado.</h3>
                    <a href="/login">Ir para login</a>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>

        <NotFound>
            <LayoutView Layout="@typeof(Shared.MainLayout)">
                <h3>Página não encontrada.</h3>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
