@using CarShop.Services
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.JSInterop
@inherits LayoutComponentBase
@inject SessionService Session
@inject NavigationManager Nav
@inject AuthenticationStateProvider AuthState
@inject Microsoft.JSInterop.IJSRuntime JS
@inject IHttpContextAccessor HttpContextAccessor


<div class="layout">
    <div class="sidebar">
        <div class="brand">
            CarShop
        </div>
        <NavMenu />
        @if (Session.IsLoggedIn)
        {
            <div class="user-box">
                <div>@Session.CurrentUser!.Username</div>
                <button class="btn btn-sm btn-outline-light mt-1" @onclick="Logout">Sair</button>
            </div>
        }
    </div>
    <div class="content-area">
        <div class="topbar">
            <span>Gestão de veículos e vendas</span>
        </div>
        <div class="content">
            @Body
        </div>
    </div>
 </div>



